/.idea
**/__pycache__
/logs
/cocoDS
/new_annotations/train/via_export_csv.csv
/new_annotations/val/via_export_csv.csv
/*.csv
/coco.py
/losses_pics
/PythonAPI/pycocotools/_mask.c
/PythonAPI/pycocotools/_mask.cpython-37m-darwin.so
